<div class="modal fade"
     id="assignBedModal">

    <div class="modal-dialog modal-md">

        <div class="modal-content">

            <div class="modal-header">

                <h4>

                    Assign Bed

                </h4>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <input type="hidden"
                       id="admissionId" />

                <input type="hidden"
                       id="admissionTokenId" />

                <div class="mb-3">

                    <label class="form-label">

                        Bed Number

                    </label>

                    <input type="text"
                           id="txtBedNumber"
                           class="form-control"
                           placeholder="Enter Bed Number" />

                </div>

            </div>

            <div class="modal-footer">

                <button class="btn btn-success"
                        id="btnCompleteAdmission">

                    <i class="fa-solid fa-check"></i>

                    Complete Admission

                </button>

            </div>

        </div>

    </div>

</div>