<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />

    <meta name="viewport"  content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] - SMART Clinic</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>

    @RenderBody()

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/login.js"></script>

</body>
</html>