@model SmartClinic.Web.Models.SystemAdmin.DepartmentDto

<div class="modal fade" id="departmentModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="departmentModalTitle">Department</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="departmentForm">
          <input type="hidden" id="Department_Id" />
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" id="Department_Name" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea id="Department_Description" class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="departmentSaveBtn">Save</button>
      </div>
    </div>
  </div>
</div>
