@{
    ViewData["Title"] =
        "Access Denied";
}

<div class="container text-center mt-5">

    <div class="card shadow-lg p-5 border-0">

        <h1 class="text-danger">

            Access Denied

        </h1>

        <p class="fs-5">

            You do not have permission
            to access this page.

        </p>

        <a asp-controller="Dashboard"
               asp-action="Index"
               class="btn btn-primary">

            Go To Dashboard

        </a>

    </div>

</div>